html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.wrapper{
  height: 100vh;
  width: 100%;
  background-image: url("https://img.freepik.com/premium-vector/binary-code-stream-digital-data-codes-hacker-coding-crypto-matrix-numbers-flow-digitally-blue-screen-abstract-background_102902-991.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.inner{
  background-color: black;
  opacity: 0.6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: blue;
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.parent{
  padding: 20px;
}


